{% extends 'base.html' %}

{% block content %}
    <form method="POST" novalidate>
    <h3>Sign Up</h3>
    {% csrf_token %}
    <p>
        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username }}

    </p>
<p>
        <label for="{{ form.password.id_for_label }}">Password:</label>
        {{ form.password1 }}
    </p>

    <p>
        <label for="{{ form.password2.id_for_label }}">Password confirmation:</label>
        {{ form.password2 }}
        {% if form.non_field_errors %}
    </p>
        <div style="color: red;">
            {{ form.non_field_errors.as_text }}
        </div>
    {% endif %}
        <br>
    <button type="submit">Sign Up</button>
    </form>
{% endblock %}